* {
    box-sizing: border-box;
}

.menu__links {
    padding-bottom: 0.5em;
}
.menu__item {
    display: inline-block;
}

.menu {
    display: flex;
    flex-direction: row;
}

.field__container {
    display: none;
}

.field {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.elem {
    border: 1px solid black;
    text-align: center;
    background-color: #eee;
    font-weight: bold;
}

.closed {
    background-color: #ccc;
}

.result {
    padding-top: 0.5em;
}

.new-game {
    margin-left: 0.5em;
}
